/* static.css */

* {
    box-sizing: border-box;
}

html,body {
    width: 800px;
    height: 500px;
    background-color: #1d2136;
    color: white;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #1d2136;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto; /* Enable scrolling if content exceeds sidebar height */
}

.sidebar_menu {
    padding-top: 20px;
}

.sidebar_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

.sidebar_menu li {
    margin-bottom: 10px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #195975;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #123456;
}

.content {
    position: absolute;
    left: 250px; /* Width of the sidebar */
    right: 0;
    top: 0;
    bottom: 0;
    padding: 20px;
    background-color: #273446;
    overflow-y: auto; /* Add this line */
}

h1, h2 {
    color: white;
    text-align: center;
    font-family: 'Russo One', sans-serif;
}

.feature-box {
    padding: 10%;
    width: 100%;
}

#feature-list {
    width: 20px;
    height: auto;
    align-items: center;
}

.newFeature {
    width: 300px;
    background-color: #1d2136;
    margin: 3px;
    border-radius: 5px;
    color: black;
    font-weight: bolder;
    text-align: left;
}

.checkUrl {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.url {
    background-color: white;
    outline: none;
    border: none;
    border-radius: 30px;
    margin-left: 3px;
    color: black;
    margin-right: 3px;
    width: 350px;
    height: 50px;
    font-weight: bolder;
}

/* static.css */

.checkbtn {
    font-size: large;
    width: 120px; /* Adjust button width */
    margin-top: 20px; /* Adjust button margin */
    background-color: #195975;
    border: none;
    border-radius: 30px; /* Rounded button corners */
    color: white;
    padding: 10px 20px; /* Padding around button text */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
}

.checkbtn:hover {
    background-color: #123456; /* Darker background color on hover */
    transform: translateY(-2px); /* Shift button slightly upwards */
}

.checkbtn:focus {
    outline: none; /* Remove focus outline */
}

.checkbtn:active {
    transform: scale(0.95); /* Shrink button slightly on click */
}


.result {
    font-size: xx-large
}
