html {
    height: 350px;
}
body {
    padding: 0;
    margin: 0;
    width: 700px;
    background: #1d2136;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#plugin_name {
    position: absolute;
    top: 10px;
    left: 200px;
    width: 330px;
    margin: 0 0;
    background-color: transparent;
    align-items: center;
    text-align: center;
}

h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 15px;
}
h1 {
    font-family: 'Russo One', sans-serif;
    color: white;
    font-size: 25px;
    padding: 10px;
    text-align: center;
}

#site_score {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: relative;
    top: 0px;
    margin-left: 3px;
    text-align: center;
    font-size: 50px;
}
#site_msg {
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 30px;
}

ul {
    list-style: none;
}

li {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 2px;
    display: inline-block;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    color: #fff;
}

iframe {
    margin: 10px;
    display: inline-block;
}

a {
    text-align: center;
    display: block;
    color: #195975;
}

.progress {
    width: 600px;
    margin-left: 8%;
    margin-top: -20%;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: #ff6347;
    border-radius: 50px;
    transition: width 1s ease-in-out;
}

.buttondiv {
    height: 50px;
    width: 700px;
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30%;
}

.button {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border: none;
    outline: none;
    margin: 10px;
    padding: 0 40px;
    text-align: center;
    border-radius: 25px;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.1s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.5s ease;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #ff7f50, #ff6347); /* Gradient background */
}

.button:before,
.button:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease-in-out;
}

.button:before {
    left: 100%;
}

.button:after {
    right: 100%;
}

.button:hover:before,
.button:hover:after {
    transform: translateX(0);
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff; /* Change text color to white when hovered */
    text-decoration: none; /* Remove underline when hovered */
}


/* Style for the back button */
.backbtn {
    align-items: center;
    justify-content: center;
    bottom: 30px;
    right: 40px;
    display: flex;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border: none;
    outline: none;
    margin: 10px; 
    width: 90px; /* Adjust width as needed */
    padding: 0 20px; /* Adjust padding as needed */
    text-align: center;
    border-radius: 25px;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.1s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.5s ease;
    position: fixed;
    overflow: hidden;
    background:  #179b77; /* Gradient background */
    text-decoration: none; /* Remove underline */
}

.backbtn:hover {
    color: #fff; /* Change text color to white when hovered */
    text-decoration: none;
    transform: scale(1.05); /* Small increase in size transition */
}
