*{
    width: 400px;
    background-color:  #1d2136;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
}

.feature-box{
    padding: 10%;
    width: 100%;
    height: 100vh;
}

#feature-list{
    width: 20px;
    height: auto;
    align-items: center;
}

.newFeature{
    width: 300px;
    background-color: #1d2136;
    margin: 3px;
    border-radius: 5px;
    color:black;
    font-weight: bolder;
    text-align: left;
}
