body{
  width: 800px;
  height: 500px;
  background-color: #1d2136;
  color: white;
}

.container{
    color: rgb(235, 235, 235);
    margin: 10%;
    box-sizing:border-box;
    border-radius: 30px;
}

.block{
    background-color: #636fae00;
    height: fit-content;
    width: 100%;
    justify-content: space-between;
    margin-left: -30px;
}

.card{
    display: flex;
    flex-direction: row;
    background-color: #dbebf1;
    border-radius: 30px;
    align-items: center;
    padding: 10px;
    color: #1d2136;
    font-weight: bolder;
    font-size: large;
    overflow-wrap: break-word;

}

.label{
    margin: 5px;
}
.data{
    margin: 5px;
    color: red;
    margin-left: 30px;
}

.backbtn{
    position: absolute;
    bottom: 30px;
    right: 40px;
    background-color: #dbebf1;
    width: 65px;
    height: 45px;
    justify-content: center;
    color: #1d2136;
    align-items: center;
    border-radius: 15px;

}